.box {
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ddd;
}

.canDrop {
  background: rgba(#41ff95, 0.2);
}

.isOver {
  background: rgba(#000000, 0.2);
}

.isActive {
  background: rgba(#0024fa, 0.3);
}
