*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  &:global(.react-draggable-transparent-selection) {
    :global(.react-draggable) {
      cursor: grabbing;
    }
  }

  :global(.react-draggable) {
    cursor: grab;
  }
}

body {
  margin: 0;
  font-size: 1em;
  min-height: 100vh;
}

:root {
  --title-font-size: 5rem;
  --subtitle-font-size: 3rem;
}

.dekk {
  font-size: 1.5rem;
}

.full {
  height: 100%;
  width: 100%;
}

.codeBox {
  margin: 0 15vw;
  width: 70vw;
}
