.title {
  --title-font-size:  7.5rem;
  width: calc(100% - 5vw);
  margin-bottom: 0.5em;
  font-weight: bold;
}

.chapter {
  --title-font-size: 6.25rem;
  width: calc(100% - 5vw);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  font-weight: normal;
  font-family: 'Noe Text', serif;
}

.cover {
  --title-font-size:  7.5rem;
  width: calc(100% - 5vw);
  margin-bottom: 0.5em;
  font-weight: bold;
}

.divider {
  --title-font-size:  4rem;
  width: calc(100% - 5vw);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  font-weight: bold;
}

.content {
  --title-font-size: 3rem;
  width: calc(100% - 5vw);
  font-weight: normal;
  margin-bottom: 2rem;
}
