@mixin master($name, $statics, $slots) {
  .#{$name} {
    font-family: 'Maison', sans-serif;
    display: grid;
    [data-slot],
    [data-static] {
      height: 100%;
      width: 100%;
    }

    @each $static in $statics {
      [data-static="#{$static}"] {
        grid-area: #{$static};
      }
    }

    @each $slot in $slots {
      [data-slot="#{$slot}"] {
        grid-area: #{$slot};
      }
    }
    @content;
  }
}

@include master('Base', ('Header'), ('View')) {
  grid-template-columns: 100%;
  grid-template-rows: 8.125rem 4.375rem calc(100vh - (8.125rem + 4.375rem));
  grid-template-areas:
    "Header"
    "."
    "View";

  [data-slot="View"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}

@include master('Chapter', ('Header'), ('View')) {
  grid-template-columns: 100%;
  grid-template-rows: 8.125rem 4.375rem calc(100vh - (8.125rem + 4.375rem) * 2);
  grid-template-areas:
    "Header"
    "."
    "View";

  [data-slot="View"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

@include master('Cover', ('Header'), ('View')) {
  grid-template-columns: 100%;
  grid-template-rows: 8.125rem 4.375rem calc(100vh - (8.125rem + 4.375rem) * 2);
  grid-template-areas:
    "Header"
    "."
    "View";

  [data-slot="View"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

@include master('Divider', ('Header'), ('Top', 'Bottom')) {
  grid-template-columns: 100%;
  grid-template-rows: 8.125rem 4.375rem calc(50vh - 8.125rem - 4.375rem) auto;
  grid-template-areas:
    "Header"
    "."
    "Top"
    "Bottom";

  [data-slot="Top"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.Base {
  --slide-background: #fff;
  --slide-color: #000;
}

.Blue {
  composes: Base;
  --highlight-color: #3300d1;
}

.Red {
  composes: Base;
  --highlight-color: #fc0043;
}

.Green {
  composes: Base;
  --highlight-color: #22ffa8;
}

.BlueChapter {
  composes: Chapter;
  --highlight-color: #3300d1;
}

.RedChapter {
  composes: Chapter;
  --highlight-color: #fc0043;
}

.GreenChapter {
  composes: Chapter;
  --highlight-color: #22ffa8;
}

.BlueCover {
  composes: Cover;
  --highlight-color: #3300d1;
}

.RedCover {
  composes: Cover;
  --highlight-color: #fc0043;
}

.GreenCover {
  composes: Cover;
  --highlight-color: #22ffa8;
}

.BlueDivider {
  composes: Divider;
  --highlight-color: #3300d1;
}

.RedDivider {
  composes: Divider;
  --highlight-color: #fc0043;
}

.GreenDivider {
  composes: Divider;
  --highlight-color: #22ffa8;
}

.dark {
  --slide-background: #16181f;
  --slide-color: #fff;
}
